
body{
    background-color: #212121;
    margin-top: 5%;
    margin-left: 40%; 
    font-family: 'Times New Roman', Times, serif;
     margin-right: 40%;
    /* align-items: center; */
}

.container{
    align-content: center;
    /* justify-content: center; */
    text-align: center;
}

.time-display{
    display: flex;
    flex-direction: row;
    align-content: center;  
    background-color: #34344A;
    width: 280px;
    height: 10%;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px; 
    margin-left: 35px;

}


.timer{
    width: 40px;
    height: 40px;
    margin-top: 7px;
    margin-right: 10px;
}

#clock{
    /* font-size: 3rem;
    font-weight: bold;
    color: black; */
   display: none;

}

.alarm-heading{
    color: whitesmoke;
    margin-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}


.set-alarm-field{
    display:flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    margin-top: -20px;
    margin-right: 100px;
    /* margin-bottom: 110%; */
    height: 100px;
    width: 500px;
    background-color: #34344A;
    color:#FFFFFF;
    border-radius: 20px;
    padding-top: 0px;
}
input{
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    background-color: #34344A;
    color: white;

}

.controls button{
    background-color: #F0F757;
    border-color: white;
    color: black;
    width: 100px;
    height: 20px;
    border-radius: 62px;
    font-size: 0.8rem;
    font-weight:500;
}

.controls button:hover{
    background-color: #F0F757;
}

#myList{
    list-style-type: none;
    
}

#myList li{
    font-size: 1.2rem;
    color: whitesmoke;
    background-color: #34344A;
    height: 2rem;
    margin-left: -30px;
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 10px;
    width: 280px;
    margin-bottom: 10px;

}

.time-list{
    display: flex;
    flex-direction: row;
    border-radius: 62px;

}


.time-list span{
    /* background-color: violet; */
    width: 160px;
    margin-right: 18px;
    
}

.time-list button{
    background-color: #F0F757;
    border-color: #5d759d;
    border-radius: 62px;
    border-width: 0px;
    height: 22px;
    color: black;
}



